<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxg.baseopen.provider.mapper.WechatTemplateMapper">
  <resultMap id="BaseResultMap" type="com.kxg.baseopen.provider.pojo.WechatTemplate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="templateId" jdbcType="BIGINT" property="templateid" />
    <result column="user_version" jdbcType="VARCHAR" property="userVersion" />
    <result column="user_desc" jdbcType="VARCHAR" property="userDesc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>